<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <div>
            <div class="logo">
              <a href="/"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="Teal Owl Labs" src="/images/footer_logo.svg" /></a>
            </div>
            {% if site.data.social %}
              {% include social.html %}
            {% endif %}
          </div>
          <!-- <ul>
            {% assign footermenu = site.data.menus.footer %}
            {% for section in footermenu %}
            <li>
              <a class="font-weight-bold" href="{{ section.url | relative_url }}">{{section.title}}</a>
              <ul>
                {% for entry in section.items %}
                <li>
                  <a href="{{ entry.url | relative_url }}">{{ entry.name }}</a>
                </li>
                {% endfor %}
              </ul> 
            </li>
            {% endfor %} -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
