.header {
  color: $primary;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 2px #004d4d;
  // border-bottom: 2px solid $primary;
  padding: 15px 0px 5px 0px;
  // height: 300px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

