.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-top: 5%;
    padding-bottom: 5px;
  }

  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bolder;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 48px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    font-weight: bold;
    color: $black;
    font-family: $font-family-base;

    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 24px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }

  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;

    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

#section-break {
  text-align: center;
  font-size: 2rem;
  font-family: $font-family-heading;


  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.service-title {
  font-size: 24px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 1.875rem;
    line-height: 1.4;
  }
}

#get-started-link {
  background-color: darken($white-offset, 10%);
  border-radius: 5px;
  padding: $spacer * 0.375 * 2;
  color: black;

}