---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <form method="POST" id="form" action="https://api.web3forms.com/submit">
                    <!-- uncomment when we create thank you page -->
                    <!-- <input type="hidden" name="redirect" value="https://tealowllabs.com/thanks.html" /> -->
                    <input type="hidden" name="access_key" value="09f85d1d-5027-42e3-b422-581646412fea"/>
                    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="company" class="form-label">Company name</label>
                        <input type="text" name="company" class="form-control" id="company" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                      <label for="phone" class="form-label">Phone number</label>
                      <input type="tel" name="phone" class="form-control" id="phone" required>
                    </div>
                    <div class="mb-3">
                      <label for="message" class="form-label">Project description</label>
                      <textarea class="form-control" name="message" id="message" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                  <div id="result"></div>
                  
                  <script>

                    window.onload = function() {
                        // Reset the form fields when the page loads
                        document.getElementById("form").reset();
                    };
                    
                    // delete all below when we have thank you page
                    const form = document.getElementById('form');
                    const result = document.getElementById('result');
                  
                    form.addEventListener('submit', function(e) {
                        const formData = new FormData(form);
                        e.preventDefault();
                    
                        const object = Object.fromEntries(formData);
                        const json = JSON.stringify(object);
                    
                        result.innerHTML = "Please wait..."
                    
                        fetch('https://api.web3forms.com/submit', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Accept': 'application/json'
                                },
                                body: json
                            })
                            .then(async (response) => {
                                let json = await response.json();
                                if (response.status === 200) {
                                    result.innerHTML = json.message;
                                } else {
                                    console.log(response);
                                    result.innerHTML = json.message;
                                }
                                form.reset();
                            })
                            .catch(error => {
                                console.log(error);
                                result.innerHTML = "Something went wrong!";
                            });
                    });
                  </script>
            </div>
        </div>
    </div>
</div>
