---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        <div class="">
          <a id="get-started-link" href="/contact">
            Let's Talk
          </a>
        </div>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}"
          class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
          src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>



<section id="services" class="anchor pt-4">
  <div class="strip strip-grey">
    <div class="p-1">
      <h2 id="section-break">How can we help you?</h2>
    </div>
    <div class="container pt-4 pb-4 pb-md-4">
      <div class="row justify-content-start">
        {% assign services = site.data.services.services %}
        {% for service in services %}
        <div class="col-12 col-md-6 mb-1">
          <div class="service service-summary">
            <div class="service-content">
              <h3 class="service-title">
                {{ service.title }}
              </h3>
              <p>{{ service.blurb | markdownify | strip_html }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
