---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}"
          class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
          src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% unless page.higherlevel_name %} 
<!-- default services page -->
<section id="services" class="anchor pt-4 mt-4">
  {% for services in site.services %}
    <div class="strip {% cycle 'strip-grey', 'strip-neutral' %} pb-10">
      <div class="container">
        <div class="row g-4">
          <h2>
            {{ services.title }}
          </h2>
          <div class="container row row-cols-1 row-cols-md-2">
            {% assign serviceGroup = site.data.service.services[services.higherlevel_name] %}
            {% for service in serviceGroup %}
              <div class="col-12 col-md-6 mb-3 col">
                <h3>{{ service.name }}</h3>
                <p>{{ service.blurb }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
{% else %}
<!-- individual higher level services page -->
<section id="services" class="anchor pt-4 mt-4">
  <div class="strip strip-grey pb-10">
    <div class="container">
      <div class="row g-4">
        <div class="container row row-cols-1 row-cols-md-2">
          {% assign serviceGroup = site.data.service.services[page.higherlevel_name] %}
          {% for service in serviceGroup %}
            <div class="col-12 col-md-6 mb-3 col">
              <h3>{{ service.name }}</h3>
              <p>{{ service.blurb }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endunless %}

